.awards {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 50px 0 60px;
}
.awards__container {
    padding: 0 24px;
}
.awards__container__header {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
.awards__container__header__title {
    font-family: 'Great Vibes', sans-serif;
    font-size: 14px;
    color: var(--button-color);
}
.awards__container__header__text {
    margin-top: 20px;
    font-family: 'Prata', serif;
    font-size: 34px;
    padding: 0 15px;
    position: relative;
    overflow-wrap: break-word;
}
.awards_container__header__stick {
    padding-top: 2.735042735042735%;
    min-height: 32px;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.awards__stick-img {
    object-fit: contain;
    width: 200px;
}
.awards__container__header__subtext {
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.awards__container__content {
    margin-top: 40px;
}
.awards__container__content__box {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
} 
.__content__box__lists__item__list__company {
    margin-top: 50px;
    padding: 0 -35px;
    text-align: left;
    font-size: 18px;
}
.__item__list__company_name {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.__content__box__lists__item__list__year {
    margin-top: 50px;
    padding: 0 -15px;
    font-size: 22px;
}
.__item__list__year__publication {
    font-family: 'Prata', serif;
    font-weight: bold;
}
.__content__box__lists__item__list__article {
    margin-top: 50px;
    padding: 0 -15px;
}
.__item__list__article__text {
    margin-top: 50px;
    padding: 0 -15px;
    font-family: 'Rubik',sans-serif;
    color: var(--grey_light);
}
.__content__box__lists__item:not(:first-child) {
    margin-top: 50px;
    padding: 0 15px
}
@media (min-width: 768px) {
    .awards__container {
        padding: 0 32px;
    }
    .awards__container__header__title{
        font-size: 21px;
    }
    .awards__container__header__text{
        font-size: 41px;
    }
    .awards__container__content__box{
        padding: 0;
    }
    .__content__box__lists__item{
        display: flex;
        flex-direction: column;
    }
    .__content__box__lists__item__list{
        display: flex;
        flex-direction: row;
        justify-items: center;
        text-align: center;
    }
    .__content__box__lists__item:not(:first-child) {
        margin-top: 0;
        padding: 0 15px
    }
    .__content__box__lists__item__list__logo{
        padding: 0 15px;
        margin: auto; 
        width: 100%;
        max-width: 200px;
    }
    .__content__box__lists__item__list__company{
        padding: 0 15px;
        margin: auto; 
        max-width: 200px;
    }
    .__content__box__lists__item__list__year{
        padding: 0 15px;
        margin: auto;
        width: 170px;
        text-align: left;
    }
    .__content__box__lists__item__list__article{
        padding: 0 15px;
        margin: auto;
        text-align: left;
        max-width: 50%;
    }
}
@media (min-width: 992px) {
    .awards__container {
        padding: 0 40px;
    }
    .awards__container__header__title{
        font-size: 28px;
    }
    .awards__container__header__text{
        font-size: 48px;
    }