.best__deals {
  background-color: var(--dark);
  padding: 90px 0;
}

/* text */

.best__deals-text {
  color: var(--button-color);
  font-family: "Great Vibes";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.best__deals-content {
  color: var(--text-color);
  font-family: "Prata";
  font-size: 34px;
  font-weight: 400;
  margin-top: 15px;
  line-height: 120%;
  text-align: center;
}

.best__deals-text-info {
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  text-align: center;
}

/* wine stick */

.best__deals-stick {
  display: flex;
  justify-content: center;
}

.best__deals-stick-img {
  object-fit: contain;
  width: 170px;
  text-align: center;
  justify-content: center;
}

/* carusel */

.carousel-item > img {
  margin: 0 auto;
}

.buy-wine-name {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  list-style-type: none;
  color: var(--text-color);
}
.buy-wine-name:hover {
  color: var(--text-color);
}

.price {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  list-style: none;
  color: var(--text-color);
  font-weight: 700;
}

.carousel-caption {
  position: static;
}

/* media */

@media (min-width: 768px) {
  .best__deals-text {
    font-size: 21px;
  }
  .best__deals-content {
    font-size: 41px;
  }
}

@media (min-width: 992px) {
  .best__deals-text {
    font-size: 28px;
  }
  .best__deals-content {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  #carusel {
    margin: auto;
    width: 50%;
  }
}
