.best__deals {
  background-color: var(--dark);
}

/* text */

.best__deals-text {
  color: var(--button-color);
  font-family: "Great Vibes";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.best__deals-content {
  color: var(--text-color);
  font-family: "Prata";
  font-size: 34px;
  font-weight: 400;
  margin-top: 15px;
  line-height: 120%;
  text-align: center;
}

.best__deals-text-info {
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  text-align: center;
}

/* wine stick */

.best__deals-stick {
  display: flex;
  justify-content: center;
}

.best__deals-stick-img {
  object-fit: contain;
  width: 170px;
  text-align: center;
  justify-content: center;
}
