/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik&display=swap');

:root {
    ---main-color: #261e1c;
    --dark: #1b1613;
}

* {
    font-family: 'Great Vibes', 'Prata', 'Rubik', cursive, sans-serif, serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}