.information {
    background-color: #261e1c;
}
.header-faq {
    margin-left: 50px;
}
.faq {
    display: flex;
    margin-left: 50px;
}

.logo-have-questions {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.someinformation {
    display: flex;
    flex-direction: row;
}

.header-text-faq{
    font-family: 'Great Vibes', coursive;
    font-size: 14px;
    color: rgb(200, 105, 58);
    padding: 10px;
}
.header-text-have-a-question{
    font-family: 'Prata', serif;
    font-size: 34px;
    color: white; 
    padding: 10px;
}
.questions {
    font-family: 'Prata' , serif;
    font-size: 22px;
    color: white; 
}
.answer {
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    color: rgb(137, 128, 130);
}
.fast-free-shipping {
    font-family: 'Prata' , serif;
    font-size: 22px;
    color: white;
   
}
.fast-free-shipping__subtext {
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    color: rgb(137, 128, 130)
}
.secure-payments {
    font-family: 'Prata' , serif;
    font-size: 22px;
    color: white; 

}
.secure-payments__subtext {
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    color: rgb(137, 128, 130)
}
.eco-friendly {
    font-family: 'Prata' , serif;
    font-size: 22px;
    color: white; 
}
.eco-friendly__subtext {
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    color: rgb(137, 128, 130)
}
.discount-system {
    font-family: 'Prata' , serif;
    font-size: 22px;
    color: white; 
}
.discount-system__subtext {
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    color: rgb(137, 128, 130)
}
.info-logo {
    width: 50px;
    background-color: #342e2e;
    border-color:#342e2e;
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;

}
.bottleofwine{
    width: 300px;
    margin-left: 200px;
}
