.footer{
    background-color: var(--dark);
}
.footer_item {
    bottom: 0px;
}       
.footer__lists{
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}
.footer__lists-title {
    color: #fff;
    font-family: Prata;
    font-style: normal;
}
.footer__list-item a{
    color: #898082;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
}
.footer__list-item a:hover {
    font-weight: 500;
    color: #c8693a;
}
.horizontal-line__component {
    background-color: #c8693a;
    height: 2px;
    min-width: 2%;
}

.footer__copy {
    background-color: #130f0e;
}
.footer__copy .footer__copy--content{
    color: #fff;
    font-family: Rubik;
}
@media (min-width: 320px) {
    .footer_item {
        padding: 60px 24px;
    }
    .footer__lists{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer__lists-title:first-child{
        font-size: 22px;
        font-weight: 400;
    }
    .horizontal-line{
        padding: 15px 0;
        position: relative;
        text-align: center;
    }
    .horizontal-line{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .horizontal-line__component{
        width: 40.9375px;
    }
    .footer__list-item{
        font-size: 14px;
        line-height: 22.4px;
        text-decoration-style: solid;
        margin-top: 20px;
    }

    li.footer__list-item_media{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .footer__list-item_media .social_links img{
        width: 30px;
        height: 30px;
        background: none;
        border: 1px var(--button-color) solid;
        color: var(--button-color);
        margin: 0 7.5px 15px;
    }
    .footer__lists-title{
        margin-top: 50px;
    }
    ul.footer__insta-list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: calc(100% + 15px);
    }

    .footer__list-item__image{
        padding: 0 7.5px;
        margin-top: 15px;
    }

    .footer__copy{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 15px;
    }
    .footer__copy--content-item{
        padding: 10px;
        font-size: 14px;
    }
}
@media (min-width:768px) {
    .footer_item {
        padding: 0 24px;
    }
    .footer__lists{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 -15px;
        text-align: left;
        flex-wrap: wrap;
    }
    li.footer__list-item:first-of-type{
        margin-top: 0;
    }

    .footer__lists-item{
        padding: 0 15px;
    }
    .footer__list-item a{
        font-size: 16px;
        font-weight: bolder;
    }
    .horizontal-line{
        display: flex;
        text-align: left;
        justify-content: left;
    }
    .footer__list-item a .footer__link-location{
        width: 113.86px;
        height: 39.39px;
    }

    .footer__list-item_media .social_links img{
        width: 30px;
        height: 30px;
    }

    .footer__list-item__image{
        padding-right: 0 7.5px;
        margin-top: 15px;
    }
    ul.footer__insta-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -20px;
    } 





    .footer__copy{
        padding-top: 15px;
    }
    .footer__copy .footer__copy--content{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        text-align: center;
    }
    .footer__copy--content-item{
        padding: 15px 32px;
    }
}
@media (min-width: 992px) {
    .footer__lists{
        margin: 0 40px 30px;
        
    }
    .footer__lists-title {
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
    }
    .footer__list-item a{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin: -10px -5px;
        font-weight: bolder;
    }
    .footer__list-item a:hover {
        font-weight: 500;
    }
    ul.footer__insta-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        object-fit: cover;
        width: calc(125% + 15px);
        margin-top: -20px;
    }
    li.footer__list-item__image img{
        margin-top: 15px;
    }
    li.footer__list-item_media{
        justify-content: left;
    }
    .footer__copy {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer__copy--content{
        font-size: 14px;
        margin: 0 60px;
        padding: 0 15px;
    }
    .footer__copy--content-item {
        margin: -5px -10px 0;
    }
    }
@media (min-width: 1200px){
    .footer_item{
        margin: 0 191.5px;
        padding: 60px 15px;
    }
    .footer__lists{
        flex-direction: row;
        justify-content: space-around;
        margin: 0 ;
        padding: 0 15px;
        text-align: left;
    }
    .footer__lists-title {
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        margin-top: 0;
    }
    .footer__list-item a{
        font-size: 14px;
        line-height: 22px;
        margin: -10px 0;
    }      
    li.footer__list-item_media{
        justify-content: left;
    }
    ul.footer__insta-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        object-fit: cover;
        width: calc(110% + 15px);
        text-align: left;
        margin-top: -20px;
    }
    li.footer__list-item__image{
        padding: 0 7.5px;
        margin-top: 15px;
    }


    .footer__copy{
        padding: 0;
    }
    .footer__copy .footer__copy--content{
        padding: 15px 191.5px;
        display: flex;
        justify-content: space-between;
    }
    .footer__copy--content-item {
        margin: -5px -10px 0;
        line-height: 22.4px;
        font-size: 14px;
        font-weight: 500;
    }
}