.stories {
    background: var(--main-color) url(../img/stories_background_img.png) center / contain no-repeat;;
    color: var(--text-color);
    padding: 50px 0;
    
}
.stories__container {
    padding: 0 15px;
}
.stories__container--box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.stories__container--box .stories__container--box__subtext {
    font-family: 'Great Vibes', sans-serif;
    color: var(--button-color);
}
.stories__container--box__title {
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    font-size: 34px;
    word-wrap: break-word;
    margin-top: 20px;
}
.stories__stick {
    padding-top: 2.735042735042735%;
    min-height: 32px;
    max-width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.stories__stick-img {
    object-fit: contain;
    width: 200px;
    text-align: center;
    justify-content: center;
}
#box__content-carousel{
    margin-top: 20px;
}
.stories__container p{
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

#box__content-carousel .carousel-indicators{
    margin-bottom: -1rem;
}
.carousel-control-next, .carousel-control-prev {
    color: var(--button-color);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.5rem;
    height: 1.5rem;
}
.carousel-item {
    font-size: 16px;
    color: rgb(137,128,130);
    padding: 10px 30px 30px;
}
 .carousel-item{
        padding: 20px 50px 50px;
    }
.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    background-color: var(--button-color);
    border: 20px;
    width: 10px;
    height: 10px;
}
.carousel-inner{
    padding: 0 25px;
}
@media (min-width:768px) {
    .stories__container{
        padding: 0 32px;
    }
    .stories__container--box .stories__container--box__subtext {
        font-size: 21px;
    }
    .stories__container--box__title{
        font-size: 41px;
    }
    .stories__container--box p{
        font-size: 18px;
        padding: 0 35px;
    }
    .carousel-item{
        padding: 20px 50px 50px;
    }
    .carousel-inner{
        padding: 0 55px;
    }
}
@media (min-width: 992px) {
    .carousel-item{
        padding: 40px 5vw 5vw;
    }
    .carousel-inner{
        padding: 0 55px;
    }
}
@media (min-width: 1160px) {
    .stories {
        padding: 50px 115px;
    }
    .stories .stories__container{ 
        margin: 0 auto;
    }
    .carousel-item{
        padding: 40px 59.3px 59.3px;
    }
}